.Card{

    border: 2px solid red;
    border-radius: 0 0 10px 10px;
    width: 305px;
    box-sizing: border-box;
    height: 223px;

    .Img_container{
        // padding: 10%;
        border-radius: 10px 10px 0 0;
        display: flex;
        justify-content: center;
        background-color: #039F4E;
        width: 305px;
        height: 137px;
        object-fit: contain;
        padding: 1.8rem;
    }
    .Title_container{
        height: 38%;
        border: 2px solid yellow;
        display: flex;
        justify-content: center;
        flex-direction: column;
        z-index: 100;
        padding-left: 1rem;

        .Title_vehicule{
            font-family: "Poppins-ExtraBold";
        }
    }
}

