.Service_card{
    max-width: 300px;
    .Service_card_title{
        font-family: "Poppins-ExtraBold";
        font-size: 1.5rem;
    }
    
    .Service_card_text{
        font-family: "Muli";
    }
}

